mixin nav(c)
  nav.nav(class= c.modifier ? "nav--" + c.modifier : "")
    ul.nav__list
      each item in c.navList
        li.nav__item
          if activePage ===  item.text
            span.nav__link.nav__link--active
              span.nav__text= item.text
          else
            a.nav__link(
              href= item.url
              data-mobile-only=(item.mobileOnly ? "mobile-only" : undefined)
              target=(item.newTab ? "_blank" : undefined)
              rel=(item.newTab ? "noopener" : undefined)
            )
              span.nav__text= item.text